<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/register.css">
  <script src="/js/home/register.js" defer></script>
  <title>회원 가입 페이지</title>
</head>
<body>
  <div class="join_wrap">
    <h1>JOIN</h1>
    <form id="join-form">
      <input id="id" type="text" placeholder="아이디">
      <input id="name" type="text" placeholder="이름">
      <input id="psword" type="password" placeholder="비밀번호">
      <input id="confirm-psword" type="password" placeholder="비밀번호를 한 번 더 입력해 주세요">
      <input type="submit" id="registerBtn" value="Register">
      <a href="/login">로그인 화면으로 돌아가기</a>
    </form>
  </div>
</body>
</html>